[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = https://github.com/rocketgithub/l10n_gt_extra.git
	branch = 13.0
[submodule "pos_gt"]
	path = pos_gt
	url = https://github.com/rocketgithub/pos_gt.git
	branch = 13.0
[submodule "fel_infile"]
	path = fel_infile
	url = https://github.com/rocketgithub/fel_infile.git
	branch = 13.0
[submodule "fel_gt"]
	path = fel_gt
	url = https://github.com/rocketgithub/fel_gt.git
	branch = 13.0
[submodule "pos_fel"]
	path = pos_fel
	url = https://github.com/rocketgithub/pos_fel.git
[submodule "pos_ticket_cambio"]
	path = pos_ticket_cambio
	url = https://github.com/rocketgithub/pos_ticket_cambio.git
[submodule "mimo"]
	path = mimo
	url = git@github.com:rocketgithub/mimo.git
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = https://github.com/rocketgithub/conciliacion_bancaria.git
	branch = 13.0
[submodule "fel_ccg"]
	path = fel_ccg
	url = https://github.com/rocketgithub/fel_ccg.git
